<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="main">
		<!-- header -->
		<div id="header">
			<h1>No pages here as you see!<span>404 error - not found.</span></h1>
		</div>
		<!-- content -->
		<div id="content">
			<ul class="nav">
         	<li class="home"><a href="/">Home Page</a></li>
            <li class="site_map"><a href="/">Site Map</a></li>
            <li class="search"><a href="/">Website Search</a></li>
         </ul>
         <p>Unless creepy emptiness was what you were looking for, this place has nothing that you want.<br /> 
         So please either go to our <a href="/">homepage</a>, <a href="/">sitemap</a> or try using the <a href="/">website search</a>.</p>
		</div>
		<!-- footer -->
		<div id="footer">
      	Designed by TemplateMonster - all found and safe!
      </div>
	</div>
</body>
</html>